<%= turbo_stream_from @modify_mobile %>
<div class="w-full">
  <div id="flash">
    <%= render partial: "modify_mobiles/flash", locals: { } %>
  </div>
  <div id="modify_mobiles">
    <% @modify_mobiles.each do |modify_mobile| %>
      <%= render modify_mobile %>
    <% end %>
  </div>
  <div class="flex justify-around my-5">
    <%= link_to "用户提交", new_modify_mobile_path, class: "rounded-lg py-2 px-10 bg-gray-100 inline-block font-medium cursor-pointer" %>
    <%= link_to "查看修改", complete_modify_mobiles_path, class: "rounded-lg py-2 px-10 bg-gray-100 inline-block font-medium cursor-pointer" %>
  </div>
</div>